*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--color-white);
}
:root{
    --body-color: #172937;
    --container-color: #253644;
    --color-black-:black;
    --color-white:white;
    --color-icon:rgba(255, 115, 0, 0.534);
    --shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar {
    display: none;
}
body{
    background-color: var(--body-color);
}
.container{
    height: auto;
    width: 1400px;
    position: relative;
    
}
.sidebar{
    border: 1px solid var(--color-black-);
    border: hidden;
    height:75%;
    width: 24%;
    font-size: 2vh;
    background-color: var(--container-color);
    position: sticky;
    top: 0;
    box-shadow: var(--shadow);
}
.main-content{
    border: 1px solid var(--color-black-);
    border: hidden;
    width: 70%;
    height: auto;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
}
.image{
    margin-top: 60px;
}
.year{
    background-color: var(--body-color);
    font-size: 0.8em;
    height:2.5em;
    width: 15em;
}
.line{
    border: 0.4px solid var(--color-white);
    opacity: 0.2;
    width: 16em;
    margin-left: 1.8em;
}
.box{
    height: 3em;
    width: 3em;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: var(--body-color);
    border-radius: 10px;

}
.row{
    margin-left: 0.1rem;;
}
.fa-regular{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: var(--color-icon)
}
.info-box{
    height: 3em;
    width: 13em;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 0.9em;
    color: var(--color-white);
}
.sicon{margin-left: 10px;
    margin-right: 10px;
    color: var(--color-white); 
}
.head{
    color: var(--color-white);
}
.line2{
    margin-left: 25px;
    background-color: #ff4400;
    height: 5px;
    width: 50px;
    border-radius: 10px;
}
.content{
    border: 1px solid var(--color-white);
    height: 13em;
    margin: 0 15px 0 15px;
    background-color: var(--body-color);
    border: hidden;
    padding: 20px;
    border-radius: 20px;
}
.content1{
    height: 19em;
    border: 1px solid var(--color-white);
    margin: 0 15px 0 15px;
    background-color: var(--body-color);
    border: hidden;
    padding: 20px;
    border-radius: 20px;
}
@media only screen and (max-width: 1342px) {
   .info-box{
    font-size: 0.7em;
   }
   
}
  @media only screen and (max-width: 1200px){

    #container{
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        position: relative;
        display: unset;
        height: 15%;
        width: 69%;
    }
    .Mydata{
        display: none;
    }
    .article-info{
        font-size: 1.8vh;
    }
    .col{
        margin: 10px;
    }
  }